@font-face {
    font-family: '29LT Zarid Display';
    src: url('/fonts/29LTZDisplay/29LTZaridDisplay-Bold.woff2') format('woff2'),
        url('/fonts/29LTZDisplay/29LTZaridDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Zarid Display';
    src: url('/fonts/29LTZDisplay/29LTZaridDisplay-Light.woff2') format('woff2'),
        url('/fonts/29LTZDisplay/29LTZaridDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Zarid Display';
    src: url('/fonts/29LTZDisplay/29LTZaridDisplay-Medium.woff2') format('woff2'),
        url('/fonts/29LTZDisplay/29LTZaridDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Zarid Display';
    src: url('/fonts/29LTZDisplay/29LTZaridDisplay-Regular.woff2') format('woff2'),
        url('/fonts/29LTZDisplay/29LTZaridDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}